* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row2::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left; 
}
  
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 0px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  

@media only screen and (min-width: 1200px) {
    /* For desktop: */
    .col-1 {width: 12.5%;}
    .col-2 {width: 20%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 1200px) {
    /* For desktop: */
    .col---10 {width: 80%;}
}


@media only screen and (min-width: 0px) {
    /* For tablets: */
    .col-mb-1 {width: 0%;}
    .col-mb-2 {width: 16.66%;}
    .col-mb-3 {width: 25%;}
    .col-mb-4 {width: 33.33%;}
    .col-mb-5 {width: 41.66%;}
    .col-mb-6 {width: 47%;}
    .col-mb-7 {width: 58.33%;}
    .col-mb-8 {width: 66.66%;}
    .col-mb-9 {width: 75%;}
    .col-mb-10 {width: 80%;}
    .col-mb-11 {width: 91.66%;}
    .col-mb-12 {width: 100%;}
}

@media only screen and (min-width: 300px) {
    /* For tablets: */
    .col-sb-1 {width: 0%;}
    .col-sb-2 {width: 20%;}
    .col-sb-3 {width: 25%;}
    .col-sb-4 {width: 33.33%;}
    .col-sb-5 {width: 41.66%;}
    .col-sb-6 {width: 48%;}
    .col-sb-7 {width: 58.33%;}
    .col-sb-8 {width: 66.66%;}
    .col-sb-9 {width: 75%;}
    .col-sb-10 {width: 83.33%;}
    .col-sb-11 {width: 91.66%;}
    .col-sb-12 {width: 100%;}
}

@media only screen and (min-width: 700px) {
    /* For desktop: */
    .col--1 {width: 12.5%;}
    .col--2 {width: 20%;}
    .col--3 {width: 25%;}
    .col--4 {width: 33.33%;}
    .col--5 {width: 41.66%;}
    .col--6 {width: 50%;}
    .col--7 {width: 58.33%;}
    .col--8 {width: 66.66%;}
    .col--9 {width: 75%;}
    .col--10 {width: 83.33%;}
    .col--11 {width: 91.66%;}
    .col--12 {width: 100%;}
}

